body {
  width: 50%;
  align-self: center;
  border: black solid 2px;
  border-radius: 2em;
  padding: 1em;
}
.squad-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.squad-profile {
  margin-inline: 1em;
}

.squad-profile img {
  border-radius: 50%;
}

/* dit zorgd voor de snapping in de carousel en hoe het er uit ziet */
.location-carousel-viewport {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.location-carousel-slide {
  list-style-type: none;
  padding: 1.25em;
  flex: 0 0 100%;
  scroll-snap-align: center;
}
